dash==2.14.2
pandas==2.2.0
numpy==1.26.3 
folium==0.15.1
leafmap==0.29.6
dash-table==5.0.0
openpyxl==3.1.2
plotly==5.18.0
geopandas==0.14.2
branca==0.7.0
dhlab>=2.1.2
requests>=2.31.0
flask>=2.2.5
werkzeug>=2.2.3
gunicorn>=21.2.0
